{% extends 'base.html' %}

{% block content %}
<h1 class="text-3xl text-blue-800">About Page</h1>
    <h2 class="mb-3 font-normal text-gray-700 dark:text-gray-400">This page made by Lauren Main. </h2>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">This page references NPR's 100 Years, 100 Novels, One List</p>
    <a href="https://www.npr.org/2009/05/07/103869541/100-years-100-novels-one-list">
    <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Click Here</button>
    </a>
{% endblock content %}