{%  extends 'base.html' %}

{% block content %}

    {% for book in books %}

        <div class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
    <a href="{% url 'book_detail' book.pk %}" aria-current="true" class="block w-full px-4 py-2 text-white bg-blue-700 border-b border-gray-200 rounded-t-lg cursor-pointer dark:bg-gray-800 dark:border-gray-600">
        {{ book.name }}
    </a>
        </div>

    {% endfor %}

{% endblock content %}